ul {
  list-style-type: none;
  display: -ms-flexbox;           /* IE 10 */
  display: -webkit-flex;          /* Safari 6.1+. iOS 7.1+ */
  display: flex;
  -webkit-flex-flow: wrap column; /* Safari 6.1+ */
  flex-flow: nowrap;
  max-height: 12.5em;
  padding: 1.67em;
}
li {
  max-width: 1.67em;
  display: flex;
}
li img {
  width: 100%;
}
